@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* common section */
*{
   margin: 0;
   font-family: "Open Sans", sans-serif;
}

.headerContainer{
   background: rgb(255, 248, 243);
}


/* navigation section */
.navContainer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0px 150px;
}

.navlogo{
   font-size: 25px;
   font-weight: 800;
   margin-top: 20px;
}

.navlogo > span{
   color: orange;
}

.navDetails{
   display: flex;
   align-items: center;
   gap: 100px;
   margin-top: 20px;
}

.navMenusContainer{
   display: flex;
   align-items: center;
   gap: 50px;
}

.navMenusContainer li{
   list-style: none;
}

.navMenusContainer li a{
   text-decoration: none;
   color: rgb(71, 71, 71);
   font-size: 16px;
   font-weight: 400;
   line-height: 27px;
   letter-spacing: 0%;
}

.navMenusContainer li a:hover{
   text-decoration: underline;
   color: rgb(221, 152, 23);
}

.button{
   border: none;
   padding: 10px 20px;
   border-radius: 5px;
   background: orange;
   color: rgb(255, 255, 255);
   font-weight: 700;
}

.button:hover{
   background-color: rgb(216, 91, 46);
}

/* Top details style */

.topTextContainer{
   margin-top: 100px;
   background-image: url('/images/header_bg.png');
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.topTextContainer h1{
   color: rgb(24, 24, 24);
   font-family: Open Sans;
   font-size: 40px;
   font-weight: 700;
   margin-bottom: 20px;
 
}

.topTextContainer h2{
   color: rgb(71, 71, 71);
   font-size: 30px;
   font-weight: 600;
   margin-bottom: 5px;
}


.btnHandel{
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.contactbtn{
   border: 1px solid orange;
   border-radius: 5px;
   background-color: white;
   color: orange;
   font-weight: 700;
   padding: 10px 20px;
}

.contactbtn:hover{
   background-color: rgb(216, 91, 46);
   color: white;
}

.personeImg{
   width: 484px;
   height: 676px;
}



